ipython
django
psycopg2
django-extensions
django-grappelli
django-bootstrap4
django-filter
django-tables2
tablib
django-simple-history
django-debug-toolbar
django-import-export
django-taggit
django-model-utils
django-polymorphic