ipython
django
psycopg2
django-extensions
django-grappelli
django-bootstrap4
django-filter
django-tables2
tablib==0.11.4
django-simple-history
django-debug-toolbar
django-import-export
django-taggit
django-model-utils
django-polymorphic
django-markdownx
django-phonenumber-field
phonenumbers
django_select2
django-cryptography
django-haystack