{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
<link rel="stylesheet" href="{% static 'css/theme.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!-- SELECT2 -->
{{ form.media.css }}
<link rel="stylesheet" href="{% static 'css/select2-bootstrap4.css' %}"/>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
{% endblock %}

{% block bootstrap4_content %}
{% include "layout/menu.html" %}
{% include "layout/about.html" %}

<div class="container-fluid fill mb-5">
    <h1 class="my-3 pl-3 py-1 bg-secondary text-white">{% block title %}(no title){% endblock %}</h1>
    {% block extra_messages %}{% endblock %}
    {% bootstrap_messages %}
    {% block content %}(no content){% endblock %}
</div>

{% endblock bootstrap4_content %}