{% extends 'bootstrap4/bootstrap4.html' %}
{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_extra_head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>

<style>
@font-face {
    font-family: "Rave";
    src: url("/static/fonts/Rave.ttf");
}

.navbar-brand{
    font-family: "Rave";
    font-size: 150%;
}

.btn-nav {
    width: 170px;
}

.w-20px {
    width: 25px;
}

</style>
{% endblock %}

{% block bootstrap4_content %}
{% include "layout/menu.html" %}
{% include "layout/about.html" %}
{% include "layout/modal_form.html" %}

<div class="container-fluid fill mb-5">
    <h1 class="mt-3 mb-3">{% block title %}(no title){% endblock %}</h1>
    {% block extra_messages %}{% endblock %}
    {% bootstrap_messages %}
    {% block content %}(no content){% endblock %}
</div>

{% endblock bootstrap4_content %}