{% extends 'base.html' %}
{% load create_containers %}

{% block title %}
{{ object.name }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        {% block navigation %}{% endblock %}
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        {% include "layout/card_identification.html"  %}
        {% include "layout/card_simple.html" with title="Comment" body=object.comment %}
        {% include "layout/card_history.html" with history=object.history.all %}
    </div>
    <div class="col-sm-8">
        {% block detail_content %}{% endblock %}
    </div>
</div>

{% endblock %}