{% extends 'base/base.html' %}
{% load containers %}
{% load static %}
{% load verbose_names %}
{% load icons %}

{% block title %}
<li class="breadcrumb-item d-none d-sm-block"><a href="{% url 'index' %}">Welcome</a></li>
<li class="breadcrumb-item"><a href="{{object.get_list_url}}">{{object|object_verbose_name_plural}}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{object.name|title}}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        <div class="card border-primary mb-3">
            <div class="card-header bg-primary text-white">
                <i class="{{object.icon}} {%if object.pin%}gold-icon{%endif%} text-center mr-2"></i>{{object|object_verbose_name|title}}
                {% include "layout/badge.html" with object=object.status class=object|get_object_status_color|add:" ml-3"%}

                <div class="float-right">
                    {% if object.documentation %}
                    <span data-toggle="tooltip" data-placement="bottom" title="Documentation">
                    <a href="{{object.documentation}}" class="top-icon" target="_blank"><i
                            class="fas fa-book w-1em text-center mx-2"></i></a>
                    </span>
                    {% endif %}
                    {% if object.get_update_perm in perms %}
                    <span data-toggle="tooltip" data-placement="bottom" title="Edit">
                    <a href="{{object.get_update_url}}" class="top-icon"><i
                            class="far fa-edit w-1em text-center mx-2"></i></a>
                    </span>
                    {% endif %}

                    {% if object.get_delete_perm in perms %}
                    <span data-toggle="tooltip" data-placement="bottom" title="Delete">
                    <a href="#" class="top-icon" data-toggle="modal" data-target="#deleteModal"><i
                            class="far fa-trash-alt w-1em text-center mx-2"></i></a>
                    </span>
                    {% endif %}
                </div>
            </div>


            {% include "layout/card_header.html" %}
            {% include "layout/card_body.html" with object=object no_comment=True %}
            <div class="card-footer bg-primary p-0">
                <ul class="nav  nav-pills justify-content-center" id="pills-tab" role="tablist">
                    {% block navigation %}{% endblock %}
                    {% include "layout/navs_pill_icon.html" with title="Same tags" icon="fas fa-tags" %}
                </ul>
            </div>
        </div>

        {% include "layout/card_simple.html" with title="Comment" body=object.get_comment_as_markdown|default:'<span class="text-muted">No comment<span>' %}
        <div class=" d-none d-sm-block">
            {% include "layout/card_history.html" with history=object.history.all %}
        </div>
    </div>


    <div class="col-sm-7">
        <div class="tab-content sticky" id="pills-tabContent">
            {% block detail_content %}{% endblock %}
            {% include "layout/tabs_list_objectperms.html" with body=object.tags.similar_objects id="same-tags" %}
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered border-primary" role="document">
        <div class="modal-content">
            <form method="post" action="{{object.get_delete_url}}" class="form">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="deleteModalLabel">Delete {{object}}</h5>

                    <button type="button" class="close top-icon" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <p>Are you sure you want to delete {{object}}?</p>
                    <div class="float-right mb-3">
                    {% include "layout/button_submit.html" with class="submit-btn btn-outline-danger" label="Delete" %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
