{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load containers %}
{% block title %}{% if object %}Edit {{object}}{% else %}Create {{view.model.meta.verbose_name}}{% endif %}{% endblock %}

{% block content %}

<form method="post" action="" class="form" id="id_form">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <div class="card bg-primary w-75 mx-auto">
                <ul class="nav nav-pills justify-content-center " id="pills-tab" role="tablist">
                    {% include "layout/navs_pill_icon.html" with title="Identification" icon="fas fa-passport" div=True active=True %}
                    {% include "layout/navs_pill_icon.html" with title="Description" icon="fas fa-pen" div=True %}
                    {% include "layout/navs_pill_icon.html" with title=view.model.meta.verbose_name icon=view.model.icon div=True %}
                    {% include "layout/navs_pill_icon.html" with title="Comment" icon="far fa-comment" %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="height:27em;">
        <div class="col-sm-8 offset-sm-2 ">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-identification" role="tabpanel"
                     aria-labelledby="pills-identification-tab">
                    {% bootstrap_field form.name  %}
                    <div class="row">
                        <div class="col">{% bootstrap_field form.tags  %}</div>
                        <div class="col">{% bootstrap_field form.status  %}</div>
                    </div>
                    {% bootstrap_field form.documentation  %}

                </div>
                <div class="tab-pane fade" id="pills-description" role="tabpanel"
                     aria-labelledby="pills-description-tab">
                    {% bootstrap_field form.description  %}

                </div>
                <div class="tab-pane fade" id="pills-{{view.model.meta.verbose_name|slugify}}" role="tabpanel" aria-labelledby="pills-{{view.model.meta.verbose_name|slugify}}-tab">
                    {% for field in form %}
                    {% if not field.name|in_list:"name,status,tags,comment,description,documentation" %}
                    {% bootstrap_field field  %}
                    {% endif%}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                    {% bootstrap_field form.comment %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 ">
            <div class="float-right">
                {% if object %}
                    {% include "layout/button_link.html" with link=object.get_absolute_url label="View"%}
                {% endif %}
                {% include "layout/button_submit.html" %}
            </div>
        </div>
    </div>
</form>

{{ form.media }}
{%endblock%}

{% block bootstrap4_extra_script %}
<script>
$(document).ready(function(){

    $('#id_submit').click(
        function ()
        {
            $('.nav-danger').each(
                function () {
                    $(this).removeClass('nav-danger');
                });
            $('.is-invalid').each(
                function () {
                    $(this).removeClass('is-invalid');
                });

            $(':required:invalid', '#id_form').each(
                function ()
                {
                    $(this).addClass('is-invalid');
                    var id = $('.tab-pane').find('#'+$(this).attr('id')).closest('.tab-pane').attr('id');
                    $('.nav a[href="#' + id + '"]').addClass('nav-danger');
                });
            var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');
            $('.nav a[href="#' + id + '"]').tab('show');
        });

});
</script>
{% endblock %}