{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load containers %}

{% block title %}{% if object %}Edit {{object}}{% else %}Create{% endif %}{% endblock %}

{% block content %}
<form method="post" action="" class="form">
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            {% csrf_token %}
            {% bootstrap_field form.name size="small" %}
            {% bootstrap_field form.status size="small" %}
            {% bootstrap_field form.tags size="small" %}
            {% bootstrap_field form.description size="small" %}
            {% bootstrap_field form.documentation size="small" %}
            {% if form.fields|length > 5 %}
            <hr>
            {% endif %}

            {% for field in form %}
            {% if not field.name|in_list:"name,status,tags,comment,description,documentation" %}
            {% bootstrap_field field size="small" %}
            {% endif%}
            {% endfor %}

            {% if form.fields|length > 5 %}
            <hr>
            {% endif %}

            {% bootstrap_field form.comment size="small" %}
            {% include "layout/button_submit.html" %}
        </div>
    </div>
</form>
{{ form.media }}
{%endblock%}