{% load verbose_names %}
{% load bootstrap4 %}

<form method="post" action="" id="modal-form">
  {% csrf_token %}
 <div class="modal-header">
    <h5 class="modal-title">
        {% if  form.instance.pk %}
            {% include "layout/icon_label.html" with label="Edit"%} {{object.name|title}}
        {% else%}
            {% include "layout/icon_label.html" with label="Create"%} new {{form.instance|object_verbose_name}}
        {% endif %}
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      {% bootstrap_form form %}
  </div>

  <div class="modal-footer">
      {% include "layout/button_submit.html" with type="button" class="submit-btn btn-success btn-sm" label="Submit" %}
  </div>

</form>