{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load containers %}
{% load verbose_names %}

{% block title %}
<li class="breadcrumb-item d-none d-sm-block"><a href="{% url 'index' %}">Welcome</a></li>
<li class="breadcrumb-item d-none d-sm-block"><a href="{{view.model.get_list_url}}">{{view.model.meta.verbose_name_plural}}</a></li>
{% if object %}
<li class="breadcrumb-item"><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{% if object %}Update{% else %}Create{% endif %}</li>
{% endblock %}

{% block content %}
<form method="post" action="" class="form" id="id_form" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
            <div class="col-sm-12 col-md-3 offset-md-4  col-xl-2 offset-xl-5 px-auto">
            <div class="card bg-primary  mx-0 px-0 w-100">
                <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                    {% include "layout/navs_pill_icon.html" with title="Identification" icon="fas fa-passport index-icon" active=True %}
                    {% include "layout/navs_pill_icon.html" with title="Description" icon="fas fa-pen index-icon " %}
                    {% if form.fields|length > 8 %}
                    {% include "layout/navs_pill_icon.html" with title=view.model.meta.verbose_name icon=view.model.icon|add:" index-icon"  %}
                    {% endif %}
                    {% include "layout/navs_pill_icon.html" with title="Comment" icon="far fa-comment index-icon" %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="height:25em;">
        <div class="col-sm-12 col-md-8 offset-md-2 ">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-identification" role="tabpanel"
                     aria-labelledby="pills-identification-tab">
                    <div class="row">
                        <div class="col-8">{% bootstrap_field form.name  %}</div>
                        <div class="col-4 my-auto py-auto">
                            {% bootstrap_field form.pin form_group_class="form-group mb-0 mt-2" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.tags  %}</div>
                        <div class="col">{% bootstrap_field form.status  %}</div>
                    </div>
                    {% bootstrap_field form.chg_reason  %}
                    {% bootstrap_field form.documentation  %}

                </div>
                <div class="tab-pane fade" id="pills-description" role="tabpanel"
                     aria-labelledby="pills-description-tab">
                    {% bootstrap_field form.description  %}

                </div>
                {% block form_object %}
                {% if form.fields|length > 8 %}
                    <div class="tab-pane fade" id="pills-{{view.model.meta.verbose_name|slugify}}" role="tabpanel" aria-labelledby="pills-{{view.model.meta.verbose_name|slugify}}-tab">
                        {% for field in form %}
                        {% if not field.name|in_list:"name,pin,status,tags,comment,description,documentation,chg_reason" %}
                            {% bootstrap_field field %}
                        {% endif%}
                        {% endfor %}
                    </div>
                {% endif %}
                {% endblock %}
                <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                    {% bootstrap_field form.comment %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 ">
            <div class="float-right">
                {% if object %}
                    {% include "layout/button_link.html" with link=object.get_absolute_url label="View"%}
                {% endif %}
                {% include "layout/button_submit.html" %}
            </div>
        </div>
    </div>
</form>

{{ form.media }}
{%endblock%}

{% block bootstrap4_extra_script %}

<script>
$(document).ready(function(){
    try { $.fn.select2.defaults.set("theme", "bootstrap4" ); }
    catch(err) {}

    $('.is-invalid', '#id_form').each(
        function ()
        {
            var id = $('.tab-pane').find('#'+$(this).attr('id')).closest('.tab-pane').attr('id');
            $('.nav a[href="#' + id + '"]').addClass('nav-danger');
        });
    var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');
    $('.nav a[href="#' + id + '"]').tab('show');
});

</script>
{{ form.media.js }}
{% endblock %}