{% extends "base/base.html" %}


{% block title%}Welcome{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-5">
        {% if perms.appmngt.view_release %}
            {% for item in next_releases %}
                {% include "appmngt/release_inline.html" with object=item create_url="release_create" %}
            {% empty %}
                {% include "layout/card_simple.html"%}
            {% endfor %}
        {% endif %}
    </div>

    <div class="col-sm-7">
        {% if perms.appmngt.view_univers %}
            {% for item in univers %}
                {% include "appmngt/univers_inline.html" with object=item create_url="univers_create" %}
            {% empty %}
              {% include "layout/card_simple.html"%}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
