{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% load static %}
{% load verbose_names %}
{% load debug %}

{% block title %}{{table|get_table_verbose_name_plural|title}}{% endblock %}

{% block content %}
{% if filter %}
<div class="d-flex justify-content-center mb-3">
    <form class="form form-inline" action="" method="get">
        {% for field in filter.form %}
            {% bootstrap_field field layout="inline" addon_before=field.label form_group_class="form-group mx-1" %}
        {% endfor %}
        {% include "layout/button_submit.html" with label="Filter"%}
    </form>
</div>
{% endif %}


{% render_table table %}


<div class="dropdown">
    {% if object_list.model.get_create_perm in perms %}
        {% include "layout/button_link.html" with link=object_list.model.get_create_url label="Create" %}
    {% endif %}
    <div class="btn-group" role="group">
        <button class="btn btn-secondary btn-nav dropdown-toggle" type="button" id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% include "layout/icon_label.html" with label="Export"%}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href='{% export_url "csv" %}'>{% include "layout/icon_label.html" with label="CSV"%}</a>
            <a class="dropdown-item" href='{% export_url "xls" %}'>{% include "layout/icon_label.html" with label="XLS"%}</a>
            <a class="dropdown-item" href='{% export_url "xlsx" %}'>{% include "layout/icon_label.html" with label="XLSX"%}</a>
        </div>
    </div>
</div>


{% endblock %}