{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% load static %}
{% load verbose_names %}
{% load debug %}

{% block title %}
<li class="breadcrumb-item active"><a href="{% url 'index' %}">Welcome</a></li>
<li class="breadcrumb-item active" aria-current="page">{{table|get_table_verbose_name_plural|title}}</li>
{% endblock %}

{% block content %}
{% if filter %}
<div class="d-flex justify-content-center mb-3">
    <form class="form form-inline" action="" method="get">
        {% bootstrap_field filter.form.name layout="inline" form_group_class="form-group mx-1" %}
        {% for field in filter.form %}
            {% if field.name != "name" %}
                {% bootstrap_field field layout="inline" addon_before=field.label form_group_class="form-group mx-1" %}
            {% endif %}
        {% endfor %}
        {% include "layout/button_submit.html" with label="Filter"%}
    </form>
</div>
{% endif %}


{% render_table table %}


<div class="float-right">
    {% if object_list.model.get_create_perm in perms %}
        {% include "layout/button_link.html" with link=object_list.model.get_create_url label="Create" %}
    {% endif %}
    <a class="btn btn-outline-success btn-nav ml-1 mr-1" href="{% export_url 'xls' %}" role="button">
        {% include "layout/icon_label.html" with icon="far fa-file-excel" label="Export"%}
    </a>
</div>


{% endblock %}