{% extends 'base.html' %}
{% load bootstrap4 %}
{% load django_tables2 %}
{% load static %}
{% load verbose_names %}
{% load debug %}

{% block title %}{{table|get_table_verbose_name_plural|title}}{% endblock %}

{% block content %}
{% if filter %}
<div class="d-flex justify-content-center mb-3">
    <form class="form form-inline" action="" method="get">
        <div class="form-row">
            <div class="col">
                {% bootstrap_field filter.form.name layout="inline" %}
            </div>
            <div class="col">
                {% bootstrap_field filter.form.status layout="inline" addon_before="Status" %}
            </div>
            {% for field in filter.form %}
            {% if field.label != "Name" and field.label != "Status" %}
            <div class="col">
                {% bootstrap_field field layout="inline" addon_before=field.label %}
            </div>
            {% endif %}
            {% endfor %}
            <div class="col">
                {% include "layout/button_submit.html" with label="Filter"%}
            </div>
        </div>
    </form>
</div>
{% endif %}


{% render_table table %}
<div class="dropdown">
    {% include "layout/button_modal.html" with data_id=object_list.model.get_create_url label="Create" %}

    <div class="btn-group" role="group">
        <button class="btn btn-secondary btn-sm btn-nav dropdown-toggle" type="button" id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% include "layout/icon_label.html" with label="Export"%}
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href='{% export_url "csv" %}'>{% include "layout/icon_label.html" with label="CSV"%}</a>
            <a class="dropdown-item" href='{% export_url "xls" %}'>{% include "layout/icon_label.html" with label="XLS"%}</a>
        </div>
    </div>
</div>


{% endblock %}