{% extends "base/base.html" %}
{% load humanize %}
{% load verbose_names %}

{% block title%}
<li class="breadcrumb-item d-none d-sm-block"><a href="{% url 'index' %}">Welcome</a></li>
<li class="breadcrumb-item">{{object|object_verbose_name_plural}}</li>
<li class="breadcrumb-item active" aria-current="page">{{object.name|title}}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 ">
            {% for obj in object.taggit_taggeditem_items.all %}
                {% include "layout/card_object.html" with object=obj.content_object %}
            {% endfor %}
        </div>
    </div>
{% endblock %}