@font-face {
    font-family: "Rave";
    src: url("/static/fonts/Rave.ttf");
}

body,html {
    height: 100%;
}

body {
  overflow-y: scroll;
}

.login-title {
    font-family: "Rave";
    font-size: 500%;
}

.navbar-brand{
    font-family: "Rave";
    font-size: 175%;
    margin: 0px;
    padding: 0px;
}

.btn-nav {
    width: 11em;
}

.w-1em {
    width: 1em;
}

.badge {
vertical-align: 0.25em;
}

.table .thead-primary th {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
  }


.index-icon {
  font-size: 120%;
}
.top-icon {
  color: rgba(255,255,255,.5);
  }
.top-icon:hover {
    color: #fff;
}

.gold-icon {
    color:gold!important;
}

.breadcrumb-item a {
    color: #adb5bd;
}

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none;
}
[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none;
}

.nav-pills .nav-link.nav-danger {
  color: rgba(255,159,180,.5);
  }

.nav-pills .nav-link.nav-danger:hover {
  color: #ff9fb4;
  }

.nav-pills .nav-link.active.nav-danger,
.nav-pills .show > .nav-link {
  color: #ff9fb4 ;
  }



.nav-pills .nav-link {
  color: rgba(255,255,255,.5);
  }

.nav-pills .nav-link:hover {
  color: #fff;
  }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: transparent;
  }

#id_form .form-control {
  border-left: 2px solid #3FB618 ;
}

:required, .select2-selection {
  border-left: 2px solid #ff9fb4 ;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 1rem;
}