{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load verbose_names %}

{% block title %}
<li class="breadcrumb-item"><a href="{% url 'index' %}">Welcome</a></li>
<li class="breadcrumb-item"><a href="{{view.model.get_list_url}}">{{view.model.meta.verbose_name_plural}}</a></li>
{% if object %}
<li class="breadcrumb-item"><a href="{{object.get_absolute_url}}">{{object.name}}</a></li>
{% endif %}
<li class="breadcrumb-item active" aria-current="page">{% if object %}Update{% else %}Create{% endif %}</li>
{% endblock %}

{% block content %}
<form method="post" action="" class="form" id="id_form" novalidate>
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-sm-4 offset-sm-4">
            <div class="card bg-primary w-75 mx-auto">
                <ul class="nav nav-pills justify-content-center " id="pills-tab" role="tablist">
                    {% include "layout/navs_pill_icon.html" with title="Identification" icon="fas fa-passport" div=True active=True %}
                    {% include "layout/navs_pill_icon.html" with title="Contact" icon="fas fa-phone"  %}
                    {% include "layout/navs_pill_icon.html" with title="Address" icon="fas fa-map-marker-alt" %}
                    {% include "layout/navs_pill_icon.html" with title="About" icon="far fa-comment" %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row" style="height:25em;">
        <div class="col-sm-8 offset-sm-2 ">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-identification" role="tabpanel"
                     aria-labelledby="pills-identification-tab">
                {% block form_content %}{% endblock%}
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                     aria-labelledby="pills-contact-tab">
                    {% bootstrap_field form.phone_number  %}
                    {% bootstrap_field form.email_address  %}
                    {% bootstrap_field form.web_site  %}
                </div>
                <div class="tab-pane fade" id="pills-address" role="tabpanel"
                     aria-labelledby="pills-address-tab">
                    {% bootstrap_field form.street  %}
                    <div class="row">
                        <div class="col">{% bootstrap_field form.postal_code  %}</div>
                        <div class="col">{% bootstrap_field form.city  %}</div>
                    </div>
                    <div class="row">
                        <div class="col">{% bootstrap_field form.province  %}</div>
                        <div class="col">{% bootstrap_field form.country  %}</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-about" role="tabpanel"
                     aria-labelledby="pills-about-tab">
                    {% bootstrap_field form.about  %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 ">
            <div class="float-right">
                {% if object %}
                    {% include "layout/button_link.html" with link=object.get_absolute_url label="View"%}
                {% endif %}
                {% include "layout/button_submit.html" %}
            </div>
        </div>
    </div>



</form>

{{ form.media }}
{%endblock%}

{% block bootstrap4_extra_script %}
<script>
$(document).ready(function(){
    $.fn.select2.defaults.set("theme", "bootstrap4" );

    $('.is-invalid', '#id_form').each(
        function ()
        {
            var id = $('.tab-pane').find('#'+$(this).attr('id')).closest('.tab-pane').attr('id');
            $('.nav a[href="#' + id + '"]').addClass('nav-danger');
        });
    var id = $('.tab-pane').find(':required:invalid').closest('.tab-pane').attr('id');
    $('.nav a[href="#' + id + '"]').tab('show');

});

</script>
{{ form.media.js }}
{% endblock %}