{% extends 'base/detail.html' %}
{% load containers %}

{% block navigation %}
{% create_list "Functional Flow" "div" "Requester" "Receiver" "div" "Techincal Flow" as navs %}
{% include "layout/navs_pills.html" with navs=navs %}
{% endblock %}


{% block detail_content %}

<div class="tab-content" id="pills-tabContent">
    {% include "layout/tabs_simple.html" with body=object.func_flow id="Functional Flow" active=True %}
    {% include "layout/tabs_simple.html" with body=object.requester id="Requester"  %}
    {% include "layout/tabs_simple.html" with body=object.receiver id="Receiver" %}
    {% include "layout/tabs_simple.html" with body=object.techflow id="Techincal Flow" %}


</div>


{% endblock %}