{% extends 'base/detail.html' %}
{% load containers %}
{% load icons %}
{% block navigation %}
{% include "layout/navs_pill_icon.html" with title="Applications" icon="Application"|get_model_icon active=True %}
{% include "layout/navs_pill_icon.html" with title="Contacts" icon="far fa-address-book" %}
{% endblock %}

{% block detail_content %}
{% include "layout/tabs_list.html" with body=object.app_partner.all id="Applications" active=True %}
{% include "layout/tabs_list.html" with body=object.team_partner.all id="Contacts" template="layout/card_contact.html" %}
{% endblock %}