{% extends 'base/detail.html' %}
{% load containers %}
{% load icons %}

{% block navigation %}
{% include "layout/navs_pill_icon.html" with title="Batch" icon="BatchFlow"|get_model_icon active=True %}
{% endblock %}


{% block detail_content %}
    {% if object.batch_input_flow %}
        {% include "layout/tabs_simple.html" with body=object.batch_input_flow id="Batch" active=True %}
    {% elif object.batch_output_flow %}
        {% include "layout/tabs_simple.html" with body=object.batch_output_flow id="Batch" %}
    {% else %}
        {% include "layout/card_simple.html" %}
    {% endif %}
{% endblock %}