{% extends 'base/detail.html' %}
{% load containers %}
{% load icons %}


{% block navigation %}
{% include "layout/navs_pill_icon.html" with title="Sub functional flow" icon="SubFuncFlow"|get_model_icon active=True %}
{% include "layout/navs_pill_icon.html" with title="Input Flow" icon="fas fa-sign-in-alt" %}
{% include "layout/navs_pill_icon.html" with title="Output Flow" icon="fas fa-sign-out-alt" %}
{% endblock %}


{% block detail_content %}
{% include "layout/tabs_simple.html" with body=object.subfunc_flow id="Sub functional flow" inline_template="funcmngt/subfuncflow_inline.html" active=True%}

{% include "layout/tabs_simple.html" with body=object.input_flow id="Input Flow" inline_template="techmngt/asynchronousflow_inline.html" %}
{% include "layout/tabs_simple.html" with body=object.output_flow id="Output Flow" inline_template="techmngt/asynchronousflow_inline.html" %}
{% endblock %}