{% extends "layout/card_base.html" %}
{% load humanize %}

{% block title%}
    {% include "layout/icon_label.html" with label="History" %}

    {% if history|length > 5%}
        <a class="badge badge-pill badge-success ml-3 " data-toggle="collapse" href="#collapseHistory" aria-expanded="false" aria-controls="collapseHistory">
            Full history
        </a>
    {% endif%}
{% endblock %}


{% block content %}
    <ul class="list-group list-group-flush">
        {% for item in history|slice:"5" %}
            <li class="list-group-item">
            {{ item.history_date|naturaltime}} : {{item.history_user}} {{item.get_history_type_display|lower}} {{item.name}}
                {% if item.history_change_reason %}
                    ({{item.history_change_reason}})
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">None</li>
        {% endfor %}
    </ul>
    {% if history|length > 5%}
        <ul class="list-group list-group-flush collapse" id="collapseHistory">
        {% for item in history|slice:"5:" %}
            <li class="list-group-item">
            {{ item.history_date|naturaltime}} : {{item.history_user}} {{item.get_history_type_display|lower}} {{item.name}}
                {% if item.history_change_reason %}
                    ({{item.history_change_reason}})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}