{% extends "layout/card_base.html" %}
{% load humanize %}

{% block title%}
    {% include "layout/icon_label.html" with label="History" %}

    {% if history|length > 5 %}
    {% spaceless %}
    <div class="float-right">
        <span data-toggle="tooltip" data-placement="top" title="Toggle view">
        <a class="top-icon collapsed" data-toggle="collapse" href="#collapseHistory" aria-expanded="false"
           aria-controls="collapseHistory">
            <span class="if-collapsed"><i class="fas fa-plus"></i></span>
            <span class="if-not-collapsed"><i class="fas fa-minus"></i></span>
        </a>
        </span>
    </div>
    {% endspaceless %}
    {% endif%}
{% endblock %}


{% block content %}
    <ul class="list-group list-group-flush">
        {% for item in history|slice:"5" %}
            <li class="list-group-item">
            {{ item.history_date|naturaltime}} : {{item.history_user}} {{item.get_history_type_display|lower}} {{item.name}}
                {% if item.history_change_reason %}
                    ({{item.history_change_reason}})
                {% endif %}
            </li>
        {% empty %}
            <li class="list-group-item">None</li>
        {% endfor %}
    </ul>
    {% if history|length > 5 %}
        <ul class="list-group list-group-flush collapse" id="collapseHistory">
        {% for item in history|slice:"5:" %}
            <li class="list-group-item">
            {{ item.history_date|naturaltime}} : {{item.history_user}} {{item.get_history_type_display|lower}} {{item.name}}
                {% if item.history_change_reason %}
                    ({{item.history_change_reason}})
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}