{% extends "layout/card_base.html" %}
{% load verbose_names %}

{% block title%}
{% include "layout/icon_label.html" with label=object|object_verbose_name%}
{% include "layout/badge.html" with object=object.status class="badge-success ml-3"%}
{% endblock %}

{% block content %}
    {% include "layout/card_header.html" %}
    {% include "layout/card_body.html" with fields=object.identification_fields %}

    {% if object.get_update_perm in perms or object.get_delete_perm in perms %}
        {% include "layout/card_footer.html" with view=False %}
    {% endif %}
{% endblock %}