<div class="card border-primary mb-3">
    <div class="card-header bg-primary text-white">
            <span class="align-middle">
                {% include "layout/icon_label.html" with label=title %}
            </span>
    </div>
    <ul class="list-group list-group-flush ">
        {% for item in list_item %}
        <li class="list-group-item"><a href="{{item.get_absolute_url}}">{{item}}</a></li>
        {% empty %}
        <li class="list-group-item">No {{title}}</li>
        {% endfor %}

    </ul>
</div>
