{% load verbose_names %}
<div class="card-body">
    {% if object.tags.all %}
    <div>
        {% for tag in object.tags.all %}
        {% include "layout/badge.html" with object=tag %}
        {% endfor %}
    </div>
    {% endif %}
    <div class="mb-0 pb-0 text-justify">
        {{object.get_description_as_markdown|default:'<span class="text-muted">No description</span>'}}
    </div>
    {% if object.documentation %}
        <a href="{{object.documentation}}" class="badge badge-pill badge-info">Documentation</a>
    {% endif %}
</div>