<div class="card-footer text-right">
    <div class="dropdown">
        <button class="btn btn-primary btn-sm dropdown-toggle btn-nav ml-1 mr-1" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            {% include "layout/icon_label.html" with label="Actions"%}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            {% if view and object.get_view_perm in perms %}
                {% include "layout/dropdown_item.html" with link=object.get_absolute_url label="View"%}
            {% endif %}
            {% if object.get_update_perm in perms %}
                {% include "layout/dropdown_item.html" with link=object.get_update_url label="Edit" %}
            {% endif %}
            {% if delete and object.get_delete_perm in perms %}
                <div class="dropdown-divider"></div>
                {% include "layout/dropdown_item_modal.html" with target="#deleteModal" label="Delete" %}
            {% endif %}
        </div>
    </div>
</div>
