{% load verbose_names get_attr %}
<div class="card-body border-top pb-0">
    <dl class="row mb-0 pb-0">
        {% for field in object.identification_fields %}
            <dt class="col-sm-4 mb-3">{{object|object_field_verbose_name:field|title}}</dt>
            <dd class="col-sm-8 mb-3">
                {% with attr=object|get_obj_attr:field perm=attr.get_view_perm %}
                {% if not perm or perm in perms %}
                    {% if attr == None %}
                        <span class="text-muted">None</span>
                    {% elif attr == False %}
                        <i class="fas fa-times"></i>
                    {% elif attr == True %}
                        <i class="fas fa-check"></i>
                    {% elif attr.get_absolute_url %}
                        {% include "layout/badge.html" with object=attr %}
                    {% else %}
                        {{attr}}
                    {% endif %}
                {% else %}
                    {% include "layout/no_rights.html" %}
                {% endif %}
                {% endwith %}
            </dd>
        {% endfor %}
        {% for field in object.identification_list_fields %}
            <dt class="col-sm-4 mb-3">{{object|object_field_verbose_name:field|title}}</dt>
            <dd class="col-sm-8 mb-3">
                {% with objs=object|get_obj_attr_list:field %}
                    {% if objs.model.get_view_perm in perms %}
                        {% for obj in objs %}
                            {% if obj.get_view_perm in perms %}
                                {% include "layout/badge.html" with object=obj %}
                            {% endif %}
                        {% empty %}
                        <span class="text-muted">None</span>
                        {% endfor %}
                    {% else %}
                        {% include "layout/no_rights.html" %}
                    {% endif %}
                {% endwith %}
            </dd>
        {% endfor %}
    </dl>
</div>

{% if not no_comment and object.comment %}
<hr class="m-0">
<div class="card-body">
    <p>{{object.get_comment_as_markdown}}</p>
</div>
{% endif %}
