{% extends "layout/card_base.html" %}
{% load verbose_names get_attr %}

{% block title%}
{% include "layout/icon_label.html" with icon=object|object_verbose_name label=object.name|default:"None" %}
{% include "layout/badge.html" with object=object.status class="badge-success ml-3"%}
{% endblock %}


{% block content %}
{% if object %}
    {% include "layout/card_header.html" %}
    {% include "layout/card_body.html" with fields=object.identification_fields list_fields=object.identification_list_fields %}

    {% if object.get_update_perm in perms or object.get_delete_perm in perms %}
        {% include "layout/card_footer.html" with view=True delete=False %}
    {% endif %}
{% endif %}
{% endblock %}
