<script type="text/javascript">
    $(function ()  {
        $("a[id^='modal-btn']").each(function () {
                $(this).modalForm({formURL: $(this).data('id'),
                modalContent: "#modal-content-form",
                modalForm: "#modal-content-form > #modal-form"
                });
              });
        $("button[id^='modal-btn']").each(function () {
                $(this).modalForm({formURL: $(this).data('id'),
                modalContent: "#modal-content-form",
                modalForm: "#modal-content-form > #modal-form"
                });
              });
    });
</script>
