<!-- Menu du haut -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Groovy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Application Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="appnavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Application Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="application_list" label="Applications"%}
                    {% include "layout/menu_dropdown_item.html" with link="environment_list" label="Environments"%}
                    {% include "layout/menu_dropdown_item.html" with link="partner_list" label="Partners"%}
                    {% include "layout/menu_dropdown_item.html" with link="release_list" label="Releases"%}
                    {% include "layout/menu_dropdown_item.html" with link="univers_list" label="Univers"%}
                </div>
            </li>
            <!-- Functional Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="funcnavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Functional Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="" label="Functional flows"%}
                </div>
            </li>
            <!-- Technical Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="technavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Technical Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="" label="Async. flows"%}
                    {% include "layout/menu_dropdown_item.html" with link="" label="Batches"%}
                    {% include "layout/menu_dropdown_item.html" with link="" label="URI"%}
                    <div class="dropdown-divider"></div>
                    {% include "layout/menu_dropdown_item.html" with link="" label="Network"%}
                    {% include "layout/menu_dropdown_item.html" with link="" label="Servers"%}</div>
            </li>
            <!-- Profile -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profilenavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_staff %}
                        {% include "layout/menu_dropdown_item.html" with link="admin:index" label="Admin"%}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    {% include "layout/menu_dropdown_item.html" with link="" label="Change password"%}
                    {% include "layout/menu_dropdown_item.html" with link="logout" label="Disconnect"%}
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" data-toggle="modal" data-target="#aboutModal" href="#">{% include "layout/icon_label.html" with label="About"%}</a>

                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ">
            <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
