<!-- Menu du haut -->
<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-primary  ">
    <a class="navbar-brand" href="/"><i class="fas fa-compact-disc text-center mr-2 w-1em"></i>Groovy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Application Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="appnavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Application Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="application_list" label="Applications"%}
                    {% include "layout/menu_dropdown_item.html" with link="environment_list" label="Environments"%}
                    {% include "layout/menu_dropdown_item.html" with link="partner_list" label="Partners"%}
                    {% include "layout/menu_dropdown_item.html" with link="release_list" label="Releases"%}
                    {% include "layout/menu_dropdown_item.html" with link="univers_list" label="Univers"%}
                </div>
            </li>
            <!-- Functional Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="funcnavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Functional Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="funcflow_list" label="Functional flows"%}
                    {% include "layout/menu_dropdown_item.html" with link="subfuncflow_list" label="Sub functional flows"%}
                </div>
            </li>
            <!-- Technical Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="technavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Technical Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="asynchronousflow_list" label="Async. flows"%}
                    {% include "layout/menu_dropdown_item.html" with link="batchflow_list" label="Batches"%}
                    <div class="dropdown-divider"></div>
                    {% include "layout/menu_dropdown_item.html" with link="uriflow_list" label="URI"%}
                    {% include "layout/menu_dropdown_item.html" with link="synchronousflow_list" label="Sync. flows"%}
                    <div class="dropdown-divider"></div>
                    {% include "layout/menu_dropdown_item.html" with link="networkflow_list" label="Network"%}
                    {% include "layout/menu_dropdown_item.html" with link="server_list" label="Servers"%}</div>
            </li>
            <!-- Contact Management-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="technavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Contact Management
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% include "layout/menu_dropdown_item.html" with link="team_list" label="Teams"%}
                    {% include "layout/menu_dropdown_item.html" with link="person_list" label="Persons"%}
            </li>
            <!-- Tags -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tag_list' %}">Tags</a>
            </li>
            <!-- Profile -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="profilenavbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if user.is_staff %}
                        {% include "layout/menu_dropdown_item.html" with link="admin:index" label="Admin"%}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    {% include "layout/menu_dropdown_item.html" with link="password_change" label="Change password"%}
                    {% include "layout/menu_dropdown_item.html" with link="logout" label="Disconnect"%}
                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" data-toggle="modal" data-target="#aboutModal" href="#">{% include "layout/icon_label.html" with label="About"%}</a>

                </div>
            </li>
        </ul>
    </div>
</nav>
