<ul class="nav nav-pills mb-4 justify-content-center" id="pills-tab" role="tablist">
    {% for item in navs %}
        {% if item == "div" %}
            <li class="nav-item mr-3"></li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link btn-nav {% if forloop.first %} active{% endif %} badge-secondary ml-1 mr-1 text-center"
                   id="pills-{{item}}-tab"
                   data-toggle="pill"
                   href="#pills-{{item}}"
                   role="tab"
                   aria-controls="pills-{{item}}"
                   aria-selected="true">{{item|title}}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>